<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>student</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="">
</head>
<body>
    <form action="" method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        {{form}}

        <input type="submit" class="btn-btn-primari" value="Submit">
    </form><br><br>
    <table border="1">
        <thead>
            <tr>
                <th>id</th>
                <th>product_name</th>
                <th colspan="2">Action</th> <!-- Set colspan to 2 for the Action cell -->
            </tr>
        </thead>
        <tbody>
            {% for pro in products %}
            <tr>
                <td>{{pro.id}}</td>
                <td>{{pro.product_name}}<td>
                
                <td>
                    <a href="{% url 'edit_page' product_id=pro.id %}">Edit</a>
                </td>
                <td>
                    <a href="{% url 'delete_page' product_id=pro.id %}">Delete</a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <script src=""></script>
</body>
</html>
 