{% extends "productapp/base.html" %}

{% block title %}Product List{% endblock %}

{% block content %}
<h2>Product List</h2>
<a href="{% url 'admin_add_product' %}" class="btn btn-primary mb-2">Add Product</a>
<a href="{% url 'admin_add_product_sub_category' %}" class="btn btn-primary mb-2">Add Product Sub Category</a>
<table class="table table-bordered">
    <thead>
        <tr>
            <th>Product Name</th>
            <th>Sub Categories</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        {% for product in products %}
        <tr>
            <td>{{ product.name }}</td>
            <td>
                <ul>
                    {% for sub_category in product.productsubcategory_set.all %}
                    <li>
                        {{ sub_category.model }} - {{ sub_category.price }} - {{ sub_category.ram }}
                                            </li>
                    {% endfor %}
                </ul>
            </td>
            <td>
                <a href="{% url 'admin_edit_product_sub_category' product.id %}" class="btn btn-warning btn-sm">Edit</a>
                <a href="{% url 'admin_delete_product' product.id %}" class="btn btn-danger btn-sm">Delete</a>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}
